.landing-page{
  background-image: url(../assets/backgrounds/h_img.jpg);
  height: 50vh;
  text-align: center;
  color: white;
}
.about-us{
  background-color:whitesmoke;
  text-align:center;
}
.services{
  background-image: url(../assets/backgrounds/s_image.jpg);
  height:50vh;
  text-align: center;
  color:white;
  background-color: whitesmoke;
  
}
.contact{
  background-image: url(../assets/backgrounds/c_image.jpg);
  height: 50vh;
  width: 100%;

}
footer{
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
}
input {
  width: 10%;
}
.portfolio {
  height: 70vh;
  align-items: center;
  margin: 150px;
  text-align: center;
}
.what-we-do{
  text-align: center;
}